version: "3.9"
services:
  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: http://localhost:5000
    container_name: react-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
